<!DOCTYPE html>
<html>
<head>
  <title>ProviderTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron">
    <h1>ProviderTracker</h1>
  </div>

</body>
</html>
<h1> List of Districts </h1>
<ul>
<% @districts.each do |office| %>
<li>ID:<%= office.id%>  Zip: <%= link_to office.zip_code, office %></li>
<% end %>
</ul>
