<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered" >
      <thead>
        <tr>
        <th>Id Number</th>
        <th>Name (Last, First)</th>
        <th>Primary Phone Number</th>
        <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% group.each do |person|%>
        <td><%= person.id%></td>
        <td><%= link_to (person.last_name + ", " + person.first_name), district_worker_path(params[:district_id], person)%></td>
        <td><%= person.primary_phone%></td>
        <td><%= link_to "Edit", edit_district_worker_path(params[:district_id], person), class: "btn btn-primary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h2><%= link_to "Add a Worker", new_district_worker_path(@district), :class => 'btn btn-large btn-primary' %></h2>
  </div>
</div>
